body {
    font-family: 'Voces', sans-serif; /* Apply Voces font */
    margin: 0;
    line-height: 1.6;
    background-color: #e7dfdf ;
    color: #eaf0f1; /* #4a6163 */
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #4a6163;
    color: #f9faf4;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px; /* Adds spacing between links */
}

nav li {
    display: inline;
}

nav a {
    color: #f9faf4;
    text-decoration: none;
}

.logo {
    width: 200px;
    max-height: 90px;
}

.hero {
    background-color: #f9faf4;
    padding: 40px 0;
    text-align: center;
}

.upload-area {
    margin-top: 20px;
}

.upload-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f9a66c; 
    color: #f9faf4;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.upload-area {
    margin-top: 20px;
    border: 2px dashed #ccc; /* Add a dashed border for visual cue */
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}

.upload-area.dragover {
    border-color: #ffc94b; /* Change border color on drag-over */
}

#fileInput {
    display: none; /* Hide the default file input */
}

#fileInfo {
    margin-top: 10px;
}

.results {
    background-color: #f9faf4;
    padding: 20px 0;
}

#saveTextButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f17a7e; /* Green */
    color: #f9faf4;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#output {
    white-space: pre-wrap; /* Important for preserving line breaks */
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    overflow-x: auto;
}

#urlList li a{
    word-break: break-all;
}

footer {
    background-color: #4a6163;
    color: #f9faf4;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}