body {
    font-family: 'Voces', sans-serif; /* Apply Voces font */
    margin: 0;
    line-height: 1.6;
    background-color: #e7dfdf; /* Light background */
    color: #4a6163; /* Dark text */
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #4a6163; /* Dark header */
    color: #f9faf4;
    padding: 10px 0;
}

header h1 {
    margin: 0;
}

.logo {
    display: inline-block;
    vertical-align: middle;
    width: 100px; /* Adjust logo size */
    height: auto;
    margin-right: 150px; /* Space between logo and title */
    margin-bottom: 50px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
}

nav li {
    display: inline;
    margin-left: 20px;
}

nav a {
    color: #f9faf4;
    text-decoration: none;
}

.hero {
    background-color: #f9faf4;
    padding: 40px 0;
    text-align: center;
}

.upload-area {
    margin-top: 20px;
}

.upload-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f9a66c; /* Blue button */
    color: #f9faf4;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.upload-area {
    margin-top: 20px;
    border: 2px dashed #ccc; /* Add a dashed border for visual cue */
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}

.upload-area.dragover {
    border-color: #ffc94b; /* Change border color on drag-over */
}

#fileInput {
    display: none; /* Hide the default file input */
}

#fileInfo {
    margin-top: 10px;
}

.results {
    background-color: #f9faf4;
    padding: 20px 0;
}

#saveTextButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f17a7e; /* Green */
    color: #f9faf4;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#output {
    white-space: pre-wrap; /* Important for preserving line breaks */
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    overflow-x: auto;
}

#urlList li a{
    word-break: break-all;
}

footer {
    background-color: #4a6163;
    color: #f9faf4;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}